.kicknet{
    background: #121212;
}
.activeBar{
    left: 0;
}
.homeCols{
    grid-template-columns: .25fr .75fr;
}
.homeRows{
    grid-template-rows: .45fr .55fr;
}
.bgCover{
    /* background: linear-gradient(rgba(0 0 0 0.5), rgba(0 0 0 0.5)) url('../images/reds6.jpg'); */
    background: url('../images/reds6.jpg');
    background-size: cover;
}
.overlay{
    background: rgba(96, 165, 250, .9);
}
.round{
    border-radius: 50%;
}
.matches::-webkit-scrollbar{
    width: 0;
}
.liveSection{
    grid-template-rows: 1.2fr .8fr;
}
.liveMatches{
    background: #333;
}
.text-small{
    font-size: 8px;
}
.mainoo{
    grid-template-columns: 1.5fr .5fr !important;
}

@media screen and (max-width: 850px) {
    /* .homeCols{
        grid-template-columns: 1fr;
    }     */
}
